body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1b1b1b;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;  
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #5b7092   
}

.subheader {
    color: #A6A8AB;   
}

a {
    color: #1B75BA;
}

a:hover {
    color: #38ADCE;
}

#site-title {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 1.25rem 0;
}

#site-title h1 {
    margin: 0;   
}

#menu {
    text-align: center;
}

#menu a.button {
    background: #fff;
    color: #1B75BA;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    padding: 1.25rem 2.5rem;
}

#menu a.button:hover {
    color: #38ADCE;
    
}